* {
    --pumpkin: #ff6d00ff;
    --heat-wave: #ff7900ff;
    --dark-orange: #ff8500ff;
    --yellow-orange-color-wheel: #ff9100ff;
    --orange-peel: #ff9e00ff;
    --russian-violet: #240046ff;
    --persian-indigo: #3c096cff;
    --purple: #5a189aff;
    --french-violet: #7b2cbfff;
    --dark-orchid: #9d4eddff;
    --cultured: #f8f9faff;
    --cultured-2: #e9ecefff;
    --gainsboro: #dee2e6ff;
    --light-gray: #ced4daff;
    --cadet-blue-crayola: #adb5bdff;
    --slate-gray: #6c757dff;
    --davys-grey: #495057ff;
    --gunmetal: #343a40ff;
    --charleston-green: #212529ff;

    --primary: #1DA1F2;
    --accent: var(--dark-orchid);

    --dark-grey: rgb(113, 118, 123);

    --border-radius: 10px;
    --box-shadow: 0 0 5px 0 rgba(0, 0, 1, .4);

    --shadow-color: 0deg 0% 0%;
    --shadow-elevation-low:
      0px 0.4px 0.5px hsl(var(--shadow-color) / 0.34),
      0px 0.6px 0.7px -1.2px hsl(var(--shadow-color) / 0.34),
      0px 1.6px 1.8px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0px 0.4px 0.5px hsl(var(--shadow-color) / 0.36),
      0px 1.3px 1.5px -0.8px hsl(var(--shadow-color) / 0.36),
      0px 3.2px 3.6px -1.7px hsl(var(--shadow-color) / 0.36),
      -0.1px 7.8px 8.8px -2.5px hsl(var(--shadow-color) / 0.36);
    --shadow-elevation-high:
      0px 0.4px 0.5px hsl(var(--shadow-color) / 0.34),
      0px 2.3px 2.6px -0.4px hsl(var(--shadow-color) / 0.34),
      0px 4.3px 4.8px -0.7px hsl(var(--shadow-color) / 0.34),
      -0.1px 7px 7.9px -1.1px hsl(var(--shadow-color) / 0.34),
      -0.1px 11.2px 12.6px -1.4px hsl(var(--shadow-color) / 0.34),
      -0.1px 17.5px 19.7px -1.8px hsl(var(--shadow-color) / 0.34),
      -0.2px 26.6px 29.9px -2.1px hsl(var(--shadow-color) / 0.34),
      -0.3px 39.1px 44px -2.5px hsl(var(--shadow-color) / 0.34);
  
}