.item {
    padding: 6px 15px 0 15px;
    transition: background-color .3s ease-in-out;
    &:hover {
        background-color: var(--light-gray);
        cursor: pointer;
    }
}
.item__name {
    font-size: 3.2rem;
}
.item__place {
    font-size: 2.6rem;
    font-style: italic;
    color: var(--slate-gray);
    padding: .8rem 0 2rem 0;
}