.button {
    --size: clamp(25px, 10vw, 35px);
}
.button__image {
    height: var(--size);
    width: var(--size);
    border-radius:50%;
    background-color: white;
    border: 2px solid white;
    transition: border .3s ease-in-out;
    box-shadow: var(--box-shadow);
}
.selected {
    border: 2px solid var(--accent);
}