.tag {
    background-color:white;
    border-radius: 100px;
    padding: 15px;
    box-shadow: var(--shadow-elevation-medium);
    transition: transform .2s ease-in-out;
    height:100%;
    cursor: pointer; 
    @media (hover: hover) {
        &:hover {
            display: relative;
            transform: scale(1.3);
        }
    }
}